In [1]:
import pandas as pd

In [6]:
filename="Assignment5_files/t2.dat"
data=pd.read_csv(filename,sep="::",header=None,names=["n9m20","NETWORK"])

/Users/zhouzihui/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

In [7]:
data.head()

          n9m20  NETWORK
0      n 9 m 20      NaN
1       NETWORK      NaN
2  1 6 541 7407      NaN
3  1 7 386 3546      NaN
4   1 8 25 5072      NaN